/* 1. El fondo debe ser color aqua utilizando el comando background-color
2. utilizar https://fonts.google.com/ para cambiar la fuente
3. Centrar el texo des de el body utilizando los comandos margin-left y margin-right al 20%*/
body{
    background-image: url(./recursos/fondo.jpg);
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Roboto', sans-serif;

}

/* Cambiar todo el color del texto con el comando color:white
El titulo h1 estara subrayado con el comando text-decoraration underline   */

h1{
    color: white;
    background-color: black;
    border: 10px;
    text-decoration: underline;
    text-align: center;
}
/* Los elementos con clase selector tendran un relleno de 2% con esquinas redondeadas con border-radius 5px */
.selectors{
padding: 2%;
border: 2px solid black ;
}
h2{
    text-align: center;
    color: white;
    background-color: black;
    padding: 1px;
    
}
/* Los elemntos marcados como span deben tener un fondo negro y un grueso de 700 con font-weight*/
span{
    font-weight: 700;
    background-color: black;
}
p{
    color:white ;
}
li{
    color: white;
}
/* Que el video de youtube llamado iframe tenga un ancho de 500 con width y una altura de 300 con height*/

iframe{
    width: 500; height: 500;
    margin-left: 20%;
    margin-right: 20%;
}
/* Que las imagenes que tenga un ancho con width del 50% y un borde redondo de 5px con border-radius y centrarlo al 20% con margin-left y margin-right */
img{
    width: 50%;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

